@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --charcoalBlack: #202221;
    --cherryBlossom: #C25968;
    --beigeMist: #f9f9f9;
    --dustly: #f1f2e0;
    --gradientDark: linear-gradient(#020200, #0d0d0c, #020202);
    font-size: 14px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}
body {
    background-color: var(--beigeMist);
    font-size: 1.14rem;
    color: var(--charcoalBlack);
    text-rendering: optimizeLegibility;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: normal;
    line-height: 1.34;
    display: grid;
    grid-template-columns: repeat(3, minmax(fit-content,auto));
    grid-auto-rows: minmax(min-content, auto);
    grid-template-areas: " h h h "
                        " a m m "
                        " f f f ";
}
header {
    grid-area: h;
    grid-column: 0/4;
    background-color: rgb(74, 135, 189);
}
aside {
    grid-area: a;
    grid-column: 0/1;
    background-color: pink;
    padding-inline-start: 1.5rem;
    padding-block-start: 1rem;
}
main {
    grid-area: m;
    grid-column: 2/4;
    background-color: green;
}
footer {
    grid-area: f; 
    grid-column: 0/4;
    background-color: burlywood;
    text-align: center;
}
h1 {
    letter-spacing: -2.5%;
}
a {
    font-family: 'Libre Caslon Display', serif;
    color: inherit;
}
ul li::marker {
    color: transparent;
}
.icons img {
    width: 2rem;
    filter: brightness(2);
    mix-blend-mode: multiply;
}
.icons img:hover {
    filter: brightness(1);
}
.memoji {
    min-width: 10rem;
    max-width: 15rem;
}
.line {
    background-color: var(--charcoalBlack);
    height: 100%;
    width: 1px;
}


/* helpers */
.padding-inline {
    padding-inline: 1.5rem;
}
.padding-block {
    padding-block: 1.5rem;
}
.inline-flex {
    display: inline-flex;
}
.column-flex, .flex {
    display: flex;
}
.column-flex {
    flex-direction: column;
}
.gap {
    gap: 1.5rem;
}
.relative {
    position: relative;
}
.height-100 {
    height: 100%;
}
.width-100 {
    width: 100%;
}
.overflow-clip {
    overflow: clip;
}