/* design by Leslie A. Hurtado */
/* typography */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* root */
:root {
    font-size : 14px;
    --noir : rgb(6, 13, 12);
    --blanc : rgb(240, 237, 229);
    --matcha : rgb(55, 90, 23);
    --matchaLatte : radial-gradient(rgba(108, 190, 115, 1) 0%, rgba(198, 220, 155, 1) 33%, rgba(240, 237, 229, 0) 100%);
    --headerGradientLight: linear-gradient(90deg,rgba(240, 237, 229, 1) 10%, rgba(240, 237, 229, 0.5) 50%, rgba(240, 237, 229, 1) 90%);
    --headerGradientDark: linear-gradient(90deg,rgba(6, 13, 12, 1) 10%, rgba(6, 13, 12, 0.5) 50%, rgba(6, 13, 12, 1) 90%);
}

/* animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes staggerFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* generic */
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--blanc);
}
body {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    position: relative;
    font-family: 'eb garamond', serif;
    font-weight: 400;
    font-style: normal;
    color: var(--noir);
    text-rendering: optimizeLegibility;
    line-height: 1.16;
    
}
h1, h2, h3, h4 {
    display: inline-flex;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.25;
    font-weight: 500;
}
h1:not(header h1) {
    font-size: 1.75rem;
    margin-bottom: 1em;
}
h2, h3, h4 {
    margin-bottom: 0.75em;
}
p {
    margin-bottom: 0.5em;
}
button {
    cursor: pointer;
}
header h1 {
    font-size: clamp(16px, 3rem, 24px);
}


/* classes */
.italic {
    font-family: 'eb garamond', serif;
    font-style: italic;
}
.italic-left {
    display: inline-flex;
    transform: skew(20deg);
    margin-inline: -2.5rem 1rem;
}
.subheader {
    font-family: 'Hanken Grotesk', monospace;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.5;
}
.serif {
    font-family: 'eb garamond', serif;
    font-weight: 500;
    letter-spacing: 0;
}
.mono {
    font-family: 'Hanken Grotesk', monospace;
    font-weight: 500;
    letter-spacing: 0.5;
}
.accent {
    color: var(--matcha);
}
.upper { 
    text-transform: uppercase;
}
.memoji {
    width: 35%;
}
.links {
    display: inline-flex;
    gap: 1rem;
}
header .links {
    font-size: clamp(16px, 3rem, 24px);
}
.block-space {
    margin-block: 1rem;
}
.landing {
    position: relative;
    width: 100%;
}
.hero {
    font-size: calc(clamp(130px, 39vw, 415px) - 0.5rem);
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rounded-corner {
    border-radius: 2rem;
}
.card {
    border-radius: 1rem;
}
.underline {
    text-decoration: underline;
}
.fade-in {
    animation: fadeIn 800ms ease-out forwards;
}
.stagger-fade-in >* {
    opacity: 0;
    animation-name: staggerFadeIn;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
    animation-delay: calc(0.45s * var(--i));
}

/* work */
#work .landing, #work header {
    color: var(--blanc);
}
.subpage {
    background-color: var(--noir);
}
.subpage main {
    background-color: var(--blanc);
}
.subpage header {
    background: var(--headerGradientDark);
    justify-content: space-between;
}
#work .landing {
    background-color: var(--noir);
    padding-block: 3rem;
    display: flex;
    justify-content: center;
}
#work .landing h1 {
    font-family: 'eb garamond', serif;
    font-weight: 900;
    transform: scaleY(1.25);
    cursor: default;
    user-select: none;
}
.hero .italic-left:hover {
    transition: 800ms ease-in-out;
    transform: skew(0deg);
    margin-inline: -2rem 0;
}
.hero .italic-left:not(:hover) {
    transition: 800ms ease-in-out;
    transform: skew(30deg);
}


/* layout */
header {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    background: var(--headerGradientLight);
    z-index: 999;
}


#landing {
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
    padding-block: 5rem;
    padding-inline: 1rem;
    gap: 1em;
    align-items: center;
}
#landing img {
    max-width: 55%;
}
#landing::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: var(--matchaLatte);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: min(100%, 100vw) min(100%, 100vw);
    filter: blur(30px);
    z-index: -1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}