/* fonts */
@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: outfit;
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

/* root */
:root {
    --soft-grey: #1111112b;
    --translucent-grey: rgba(0,0,0,0.5);

    --saturated-blossom: #ffc8d9;
    --saturated-orange: #ffb592;
    --saturated-skytea: #9cc8ff;

    --autumnal-waterfall: linear-gradient(217deg, rgba(255, 200, 217, 0.65), rgba(195, 59, 52, 0) 70.71%),
    linear-gradient(127deg, rgb(156, 200, 255, 0.65), rgba(226, 100, 73, 0) 70.71%),
    linear-gradient(336deg, rgb(255, 181, 146, 0.65), rgba(255, 179, 102, 0) 70.71%);

  /* Accent Colors */
  --ceremony: #ff5b8c; /* Rose */
  --chanoyu: hsl(216, 100%, 50%); /* Cerulean Blue */

    --cloud: linear-gradient(#fdfdfd, #f5f2f0);
    --fluff: #fdfdfd;
    --coal: #1b151b;
    

    font-family: 'outfit', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    color: var(--coal);
    font-style: normal;
    line-height: 1.35;
    font-weight: 350;
    font-size: 1.2rem;
    min-height: 100vh;
    background-attachment: fixed;
    background-color: var(--fluff);
    background: var(--cloud);
    scroll-behavior: smooth;
    letter-spacing: 0.011111111111111112rem;
}

/* general */
nav {
    width: 100%;
}
ul {
    list-style: none;
  }
a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
hr {
    border: 0;
    border-top: 1px solid var(--soft-grey);
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 550;
}
h3 {
    font-weight: 500;
}
nav h1 span {
    color: var(--chanoyu);
}
button {
    background-color: transparent;
    border: none;
}
button:active {
    color: inherit;
}

/* class */
.accent1:hover {
    color: var(--ceremony);
}
.blue-border {
    border: 1px solid rgba(0,0,0,0.25);
}
.video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
.emoji {
    font-size: 2rem;
}

.center-text {
    text-align: center;
}
.soft-grey {
    color: var(--soft-grey);
}
.translucent-grey {
    color: var(--translucent-grey);
}
.rounded-corner {
    border-radius: 12px;
}
.circle-corner {
    border-radius: 100%;
}
.accent-font1 {
    font-family: DMSans;
}
.container-flex {
    display: inline-flex;
}
.container-flex h1 {
    align-self: center;
    margin-left: 1.5rem;
}
.container-nav-greeting {
    display: flex;
    flex-direction: column;
    background: var(--autumnal-waterfall);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-nav-greeting article {
    flex-grow: 1;
    margin: 2rem auto;
}
.container-nav-greeting nav {
    position: absolute;
    top: 0;
    margin-bottom: 2rem;
}
.container-nav-greeting button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 1rem;
}
.nav-main ul {
    margin-left: auto;
}
.nav-main ul a {
    display: inline-block;
    margin: 0rem 0.5rem 0rem 0.5rem;
}
.nav-main ul a:last-child {
    margin-left: 0.5rem;
}
.nav-main {
    display: inline-flex;
}
.greeting-section {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* id */

#scroll-to-project{
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
    
}
#scroll-to-project:hover {
    color: var(--fluff);
}
#projects-section {
    background-color: rgba(255, 181, 146, 0.55);
    padding-top: 0.8rem;
    min-height: 100vh;
}
#projects-section h2 {
    margin: 2rem 0.5rem;
}
#projects-section article {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
#projects-section article h3 {
    margin: 1.15rem 0rem;
}
#about-me {
    background-color: rgba(255, 200, 217, 0.55);
    min-height: 100vh;
    padding-top: 3.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
#about-me article {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    flex-shrink: 3;
}
#about-me article h2 {
    margin-bottom: 2rem;
}
#about-me ul {
    font-style: italic;
    font-family: "DMSans";
    flex-grow: 2;
    white-space: nowrap;
    margin-right: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0;
}
#about-me article ul li {
    max-width: 33.33%;
    position: relative;
    padding-bottom: 133.33%;
    flex: 1;
}
#about-me article ul li img {
    width: 100%;
    height: auto;
    /* padding-bottom: 133.33%; */
    object-fit: cover;
}
.responsive{
    aspect-ratio: 3/4;
    object-position: bottom;
}
.container-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-height: 383px) {
    body {
        font-size: 0.9rem;
    }
    #headshot {
        width: 100px;
    }
    #scroll-to-project {
        font-size: 1.45rem;
    }
}
@media only screen and (min-height: 383px) and (max-height: 525px) {
    body {
        font-size: 1rem;
    }
    #scroll-to-project {
        font-size: 2rem;
    }
}